* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider {
    position: relative;
}

.slide-container .item {
    display: none;
}

.slide-container .item.active {
    display: block;
}

.arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    font-size: 20px;
    font-weight: 800;
    color: blue;
    min-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.arrows > span:hover {
    color: red;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.controls span {
    display: block;
    position: relative;
    bottom: 30px;
    background-color: white;
    border-radius: 50%;
    height: 10px;
    aspect-ratio: 1;

}

.controls span.active {
    background-color: lightseagreen;
}